- let style = poster ? poster : essay.poster;
header#header.home-header.blog-background.banner-mask(style=style)
    #barbg
        #bar
    .nav-header.container
        .nav-header-container
            a.back-home(href="/") Home
            - if (user)
                span.tips 欢迎您, #{user.name} 
                a.logout(href="/logout") Logout
                .btn-group
                    a.btn.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Admin 
                        span.caret
                    ul.dropdown-menu
                        li.dropdown-header  essay
                        li
                            a(href="/admin/essay/new") Edit essay
                        li
                            a(href="/admin/essay/list") essay list
                        li.divider(role="separator")
                        li.dropdown-header  user
                        li
                            a(href="/admin/user/list") user group
            - else 
                //- a.signUp(href="#", data-toggle="modal", data-target="#signupModal") SignUp
                a.login(href="#", data-toggle="modal", data-target="#signinModal") Login

    .header-wrap
        .container
            .home-info-container
                a(href="/")
                    - let trueTitle = title ? title : essay.title;
                    h2 #{trueTitle}
                h4 #{small}
//- 注册
//- #signupModal.modal.fade
//-     .modal-dialog
//-         .modal-content
//-             form(method="post" action="/user/signup" AUTOCOMPLETE="OFF")
//-                 .modal-header SignUp
//-                 .modal-body
//-                     .form-group
//-                         label(for="signupName") username
//-                         input#signupName.form-control(name="name" type="text")
//-                     .form-group
//-                         label(for="signupPassword") password
//-                         input#signupPassword.form-control(name="password" type="text")
//-                 .modal-footer
//-                     button.btn.btn-default(type="button" data-dismiss="modal") close
//-                     button.btn.btn-default(type="submit") submit
//- 登陆
#signinModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="post" action="/user/signin" AUTOCOMPLETE="OFF")
                .modal-header Login
                .modal-body
                    .form-group
                        label(for="signinName") username
                        input#signinName.form-control(name="name" type="text")
                    .form-group
                        label(for="signinPassword") password
                        input#signinPassword.form-control(name="password" type="password")
                .modal-footer
                    button.btn.btn-default(type="button" data-dismiss="modal") close
                    button.btn.btn-default(type="submit") submit

//- 加载动画
script.
    document.onreadystatechange = function(){
        var bar = document.getElementById('bar');
        var barbg = bar.parentNode;
        var wd = document.body.scrollWidth || document.documentElement.scrollWidth;
        var t  = 10;
        var d = 0;
        var i = 0;
        var timer = setInterval(goto, 1);
        function goto(){
            d = d + t ;
            bar.style.width = d + 'px';
            if(d >= wd){
                clearInterval(timer);
                bar.style.background = 'rgba(245,0,87,0)';
                none();
            }
        }
        function none(){
            var a = 10 - i;
            i++;
            if(a != 0 && a != 10){a = a * 0.1}
            if(a === 10){a = 1}
            if(a === 0){a = 0}
            barbg.style.background = 'rgba(245,0,87,' + a.toFixed(1) + ')';
            if(a === 0){barbg.style.display = 'none'}
            if(a != 0){setTimeout(none, 20);}
        }
    }