header#header.home-header.blog-background.banner-mask
    .nav-header.container
        .nav-header-container
            a.back-home(href="/") Home
    .header-wrap
        .container
            .home-info-container
                a(href="/")
                    h2 timrchen
                h4 Just a start.