- let style = poster ? poster : essay.poster;
header#header.home-header.blog-background.banner-mask(style=style)
    .nav-header.container
        .nav-header-container
            a.back-home(href="/") Home
    .header-wrap
        .container
            .home-info-container
                a(href="/")
                    - let trueTitle = title ? title : essay.title;
                    h2 #{trueTitle}
                h4 #{small}