header#header.home-header.blog-background.banner-mask(style=poster)
    .nav-header.container
        .nav-header-container
            a.back-home(href="/") Home
    .header-wrap
        .container
            .home-info-container
                a(href="/")
                    h2 #{headerTitle}
                h4 #{small}