doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    include includes/head
  body
    #page.hfeed.site
      include includes/header
      block content
      include includes/footer