doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        include includes/head
    body
        #page.hfeed.site
        include includes/header
        block content
        include includes/footer