* {
	list-style: none;
	text-decoration: none!important;
}

/* header.pug */
.banner-mask {
	background-position: 50%;
	background-size: cover;
	position: relative;
	padding: 20px 0;
	height: 360px;
}
.banner-mask:before {
    position: absolute;
    background-color: rgba(0,0,0,.15);
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}
.nav-header {
    padding-top: 30px;
    font-family: exoregular;
    position: relative;
}
.nav-header .nav-header-container a {
    display: inline-block;
    border: 1px solid hsla(0,0%,100%,.8);
    color: hsla(0,0%,100%,.8);
    font-size: 14px;
    padding: 3px 12px;
    border-radius: 3px;
    margin-right: 8px;
    text-decoration: none;
}
.nav-header .nav-header-container a:hover {
    color: #fff;
    border-color: #fff;
}

.nav-header .nav-header-container .login {
    position: absolute;
    right: 0px;
}

.nav-header .nav-header-container .tips {
    position: absolute;
    right: 110px;
    color: #fff;
    font-size: 16px;
}

.nav-header .nav-header-container .signUp {
    position: absolute;
    right: 80px;
}

.nav-header .nav-header-container .logout {
    position: absolute;
    right: 0px;
}

.header-wrap {
    position: relative;
    /*text-align: center;*/
    color: #fff;
    font-family: exoregular;
}
.home-info-container a {
    color: inherit;
}
.home-info-container a:hover {
    color:#fff;
}
.header-wrap h2 {
    font-size: 42px;
    margin-top: 50px;
}



/* index.pug */
.site-content {
    padding-top: 50px;
}
.post-item {
    position: relative;
    margin-bottom: 30px;
    background-color: #fff;
}
.post-image {
    display: block;
    height: 340px;
    background-size: cover;
    background-position: 50%;
    position: relative;
}
.post-item .info-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent -webkit-linear-gradient(top,transparent,rgba(0,0,0,.4)) repeat scroll 0 0;
    background: transparent linear-gradient(180deg,transparent 0,rgba(0,0,0,.4)) repeat scroll 0 0;
}
.info-mask {
    display: block;
    padding: 30px;
}
.post-item:hover .info-mask {
    background: transparent -webkit-linear-gradient(top,transparent,rgba(0,0,0,.8)) repeat scroll 0 0;
    background: transparent linear-gradient(180deg,transparent 0,rgba(0,0,0,.8)) repeat scroll 0 0;
}
.mask-wrapper {
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 20px;
    right: 20px;
}
.mask-wrapper .post-title {
    font-size: 36px;
    line-height: 1.4;
    color: #fff;
}
.mask-wrapper .post-title a:hover {
    color: #bc403e;
}
.mask-wrapper .post-title a {
    color: inherit;
}
.mask-wrapper .post-info {
    font-size: 14px;
    font-family: exoregular;
}

/* detail.pug */
/* --post-actions */
.post-actions {
    padding-bottom: 15px;
}
.post-actions .wpl-button {
    cursor: pointer;
    border: 0;
    color: rgba(0,0,0,.44);
}
.wpl-button {
    height: 32px;
    line-height: 31px;
    border-radius: 999em;
    padding: 0 15px;
    border: 1px #57ad68 solid;
    color: #57ad68;
    display: inline-block;
    font-size: 14px;
    background: #fff;
}
.post-actions .wpl-button svg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    fill: rgba(0,0,0,.44);
    -webkit-transform: translate3d(0,-1px,0);
    transform: translate3d(0,-1px,0);
}

/* --tag-list */
.tag-list {
    padding: 15px 0;
}
.tag-list a {
    display: inline-block;
    padding: 3px 8px;
    background-color: #f0f0f0;
    color: rgba(0,0,0,.44);
    border-radius: 3px;
    margin-right: 8px;
    font-size: 12px;
}

/* --author */
.author-field {
    font-family: exoregular;
    border-top: 1px solid #eee;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.author-field .avatar {
    border-radius: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    height: 64px;
    width: 64px;
}
.author-field img {
    max-width: 100%;
    height: auto;
}
.author-field h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: rgba(0,0,0,.44);
}
.author-field p {
    font-size: 14px;
    line-height: 1.6;
    padding: 0 30px;
}

/* --navigation */
.post-navigation {
    padding: 3px 0;
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,.05);
    margin-bottom: 30px;
}
.screen-reader-text {
    position: absolute;
    left: -9999px;
    top: -9999px;
}
.post-navigation .nav-links {
    text-align: left;
}
.nav-links {
    text-align: center;
}
.post-navigation .nav-next, .post-navigation .nav-previous {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    background-size: cover;
    background-position: 50%;
}
.post-navigation .nav-next a, .post-navigation .nav-previous a {
    position: relative;
    display: block;
    color: inherit;
}
.post-navigation .meta-nav {
    display: block;
    color: rgba(0,0,0,.44);
    font-size: 12px;
    text-transform: uppercase;
}
.post-navigation .post-title {
    color: #fff;
    font-size: 18px;
}
.post-navigation .post-title:hover {
    color: #bc403e;
}
/* ---prev */
.post-navigation .nav-previous {
    float: left;
    border-right: 1px solid #fff;
}
.post-navigation .nav-previous .meta-nav {
    color: rgba(255,255,255,.9);
}
.post-navigation .nav-previous:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
}
/* ---next */
.post-navigation .nav-next {
    float: right;
    text-align: right;
    border-left: 1px solid #fff;
}
.post-navigation .nav-next .meta-nav {
    color: rgba(255,255,255,.9);
}
.post-navigation .nav-next:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
}


/* admin.pug list.pug */
.admin, .list {
    margin-top: 50px;
}


/* footer.pug */
.site-footer {
    padding: 30px 0 0 0;
    font-family: exoregular;
    color: rgba(0,0,0,.44);
}
.u-textAlignCenter {
    text-align: center;
}

canvas {
    opacity: 0.1!important;
}