* {
	list-style: none;
	text-decoration: none!important;
	font-family: freight-display-pro,serif;
}

#barbg {
    position: absolute;
    top: 0px;
    height: 5px;
    background:rgb(224,224,224);
}

#barbg #bar {
    width: 0px;
    height: 5px;
    background:rgb(245,0,87);
}

/* header.pug */
.banner-mask {
	background-position: 50%;
	background-size: cover;
	position: relative;
	padding: 20px 0;
	height: 360px;
}
.banner-mask:before {
    position: absolute;
    background-color: rgba(0,0,0,.15);
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}
.nav-header {
    padding-top: 30px;
    font-family: exoregular;
    position: relative;
}
.nav-header .nav-header-container a {
    display: inline-block;
    border: 1px solid hsla(0, 0%, 100%, .8);
    color: hsla(0,0%,100%,.8);
    font-size: 14px;
    padding: 3px 12px;
    border-radius: 3px;
    margin-right: 8px;
    text-decoration: none;
}
.nav-header .nav-header-container .dropdown-menu, .nav-header .nav-header-container .dropdown-menu a{
    color: #000;
}
.nav-header .nav-header-container .dropdown-menu, .nav-header .nav-header-container .dropdown-menu a:hover {
    color: #000;
}
.nav-header .nav-header-container a:hover {
    color: #fff;
    border-color: #fff;
}

.nav-header .nav-header-container .login {
    position: absolute;
    right: 0px;
}

.nav-header .nav-header-container .tips {
    position: absolute;
    right: 110px;
    color: #fff;
    font-size: 16px;
}

.nav-header .nav-header-container .signUp {
    position: absolute;
    right: 80px;
}

.nav-header .nav-header-container .logout {
    position: absolute;
    right: 0px;
}

.header-wrap {
    position: relative;
    /*text-align: center;*/
    color: #fff;
    font-family: exoregular;
}
.home-info-container a {
    color: inherit;
}
.home-info-container a:hover {
    color:#fff;
}
.header-wrap h2 {
    font-size: 42px;
    margin-top: 130px;
}



/* index.pug */
.site-content {
    padding-top: 50px;
}
.post-item {
    position: relative;
    margin-bottom: 30px;
    background-color: #fff;
}
.post-image {
    display: block;
    height: 340px;
    background-size: cover;
    background-position: 50%;
    position: relative;
}
.post-item .info-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent -webkit-linear-gradient(top,transparent,rgba(0,0,0,.4)) repeat scroll 0 0;
    background: transparent linear-gradient(180deg,transparent 0,rgba(0,0,0,.4)) repeat scroll 0 0;
}
.info-mask {
    display: block;
    padding: 30px;
}
.post-item:hover .info-mask {
    background: transparent -webkit-linear-gradient(top,transparent,rgba(0,0,0,.8)) repeat scroll 0 0;
    background: transparent linear-gradient(180deg,transparent 0,rgba(0,0,0,.8)) repeat scroll 0 0;
}
.mask-wrapper {
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 20px;
    right: 20px;
}
.mask-wrapper .post-title {
    font-size: 36px;
    line-height: 1.4;
    color: #fff;
}
.mask-wrapper .post-title a:hover {
    color: #bc403e;
}
.mask-wrapper .post-title a {
    color: inherit;
}
.mask-wrapper .post-info {
    font-size: 14px;
    font-family: exoregular;
}

/* detail.pug */
.postDesc {
    text-align: right;
    padding: 5px 0px;
    color: #999999;
    font-size: 12px;
}


/* --author */
.author-field {
    font-family: exoregular;
    border-top: 1px solid #eee;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.author-field .avatar {
    border-radius: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    height: 64px;
    width: 64px;
}
.author-field img {
    max-width: 100%;
    height: auto;
}
.author-field h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: rgba(0,0,0,.44);
}
.author-field p {
    font-size: 14px;
    line-height: 1.6;
    padding: 0 30px;
}


/* admin.pug list.pug userList.pug*/
.admin, .list {
    margin-top: 50px;
}

.list .content {
    text-overflow: ellipsis;
    max-width: 508px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}


/* footer.pug */
.site-footer {
    margin-bottom: 30px;
    padding: 30px 0 0 0;
    font-family: exoregular;
    color: rgba(0,0,0,.44);
}
.u-textAlignCenter {
    text-align: center;
}

canvas {
    opacity: 0.1!important;
}

/* bg */
body {
	background-image: url(../images/bg.gif);
	background-repeat: repeat;
	background-color: #FFFDFA;
}
