extends ../layout

block content
    .container.admin
        .row
            form.form-horizontal(method="post" action="/admin/essay" enctype="multipart/form-data")
                //- 隐藏的表单域，用于存储文章的id
                input(type="hidden" name="_id" value=`${essay._id}`)
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 文章标题
                    .col-sm-10
                        input#inputTitle.form-control(type="text" name="title" placeholder="Type header" value=`${essay.title}`)
                .form-group
                    label.col-sm-2.control-label(for="inputContent") 文章内容
                    .col-sm-10
                        textarea#inputContent.form-control(oninput="this.editor.update()" type="text" name="content" rows="6" cols="30" wrap="hard" placeholder=" Type **Markdown** here." autofocus) #{essay.content}
                        #preview
                .form-group
                        label.col-sm-2.control-label(for="addImg") 添加图片
                        .col-sm-10
                            input(type="file" name="poster" value=`${essay.poster}`)
                .form-group
                    .col-sm-1
                    button.btn.btn-default(type="submit") 文章录入
    //- Markdown 输入转换
    script.
        function Editor(input, preview) {
            this.update = function() {
                preview.innerHTML = markdown.toHTML(input.value);
            };
            input.editor = this;
            this.update();
        }
        let $ = id => document.getElementById(id);
        new Editor($("inputContent"), $("preview")); //- 执行输入转换
        //- 在 textarea 中实现Tab键缩进
        $("inputContent").onkeydown = function(e){
            if(e.keyCode == 9){
                e.preventDefault();
                let indent = '    ';
                let start = this.selectionStart;
                let end = this.selectionEnd;
                let selected = window.getSelection().toString();
                selected = indent + selected.replace(/\n/g, '\n'+indent);
                this.value = this.value.substring(0, start) + selected + this.value.substring(end);
                this.setSelectionRange(start + indent.length, start + selected.length);
            }
        };