extends ../layout

block content
    #main.content.homepage
        .content-area.container
            .site-content
                section.post-content
                    .single-post-inner.grap
                        #essayContent #{essay.content}
                .postDesc posted @TimRChen 阅读(
                    span#post_view_count #{essay.pv})
                .author-field.u-textAlignCenter
                    img.avatar.avatar-64.photo(src="/images/flybird.jpg")
                    h3 timrchen
                    p 年轻的意志
                    button.btn.btn-default(type="button")
                        span.glyphicon.glyphicon-star(aria-hidden="true")
                            a(target="_blank" href="https://github.com/TimRChen/Express-blog") Star
                #comments.comments-area
                    //- UY BEGIN
                    //- div(id="uyan_frame")
                    //- script(type="text/javascript" src="http://v2.uyan.cc/code/uyan.js")
                    //- UY END
    //- Markdown 文本转换
    script.
        function Show(view) {
            this.transform = function() {
                view.innerHTML = markdown.toHTML(view.innerHTML);
            };
            this.transform();
        }
        let $ = function(id) {
            return document.getElementById(id);
        };
        new Show($("essayContent"));