extends ../layout

block content
  #main.content.homepage
    .content-area.container
        .site-content
        each item in essays
            article.post-item
                .post-image(style=item.poster)
                    .info-mask
                        .mask-wrapper
                            h2.post-title
                                a(href=`/essay/${item._id}`) #{item.title}
                            .post-info
                                span.post-time
                                    time #{item.date}
        nav(aria-label="Page navigation")
            ul.pager
                li.previous
                    a#previous(href="#")
                        span(aria-hidden="true") &larr; Previous
                li.next
                    a#next(href="#")
                        span(aria-hidden="true") Next &rarr;
  script(src="/js/page.js")