extends ../layout

block content
    .signupCont
        .content-area.container
            .page-header
                h1= title
            form(method="post" action="/user/signup" AUTOCOMPLETE="OFF")
                .modal-header SignUp
                .modal-body
                    .form-group
                        label(for="signupName") username
                        input#signupName.form-control(name="name" type="text")
                    .form-group
                        label(for="signupPassword") password
                        input#signupPassword.form-control(name="password" type="text")
                .modal-footer
                    button.btn.btn-default(type="button" data-dismiss="modal") close
                    button.btn.btn-default(type="submit") submit