extends ../layout

block content
    .container
        .row
            form.form-horizontal(methods="post", action="/admin/essay/new")
                input(type="hidden", name=`${essay._id}`, value=`${essay._id}`)
                .form-group
                    label.col-sm-3.control-label(for="inputTitle") 文章标题
                    .col-sm-10
                        input#inputTitle.form-control(type="text", name="essay[title]")
                .form-group
                    label.col-sm-3.control-label(for="inputContent") 文章内容
                    .col-sm-10
                        input#inputTitle.form-control(type="text", name="essay[content]")
                .form-group
                    .col-sm-offset-2.col-sm-10
                    button.btn(type="submit") 文章录入