extends ../layout

block content
  #main.content.homepage
    .content-area.container
        .site-content
            article.post-item
                .post-image
                    .info-mask
                        .mask-wrapper
                            h2.post-title
                                a(href="detail") Hello World!
                            .post-info
                                span.post-time
                                    time Apr 14, 2017