extends ../layout

block content
  #main.content.homepage
    .content-area.container
        .site-content
            article.post-item
                .post-image(style=imgUrl)
                    .info-mask
                        .mask-wrapper
                            h2.post-title
                                a(href=`/detail/${id}`) #{title}
                            .post-info
                                span.post-time
                                    time #{date}